# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Local development
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript build info (optional)
*.tsbuildinfo

# Cache and temp files
*.cache

# Dependencies
package.json
package-lock.json

